<footer>
    <div class="footer-logo-location">
        <h2>Pastafari</h2>
        <h3>Romero de Terrenos #1153</h3>
        <h4>Narvarte, 03038</h4>
        <h4>CDMX</h4>
    </div>
    <div class="footer-links">
        <p class="links">Links</p>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Productos</a></li>
        </ul>
    </div>
    <div class="footer-legal">
        <p class="legal">Legal</p>
        <ul>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Promociones</a></li>
        </ul>
    </div>
    <div class="footer-contacto">
        <p class="contacto">Contacto</p>
        <ul>
            <span>Dejanos tu email para mas informacion sobre nuevos productos y promociones.</span>
            <div class="input-container-email">
                <input type="email" value="Direccion Email"></input>
                <button type="submit"> Hecho!</button>
            </div>
        </ul>
    </div>
    
    
</footer>
<script src="scripts/home.js"></script>