<section class="footer">
    <div class="links">
        <a href="/">home</a>
        <a href="about">about</a>
        <a href="product">beers</a>
        <a href="#">contact</a>
    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
    </div>
</section>