<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/stylesmenu.css">
   
    <title>Menu</title>

</head>

<body>
    
    <%- include('../partials/header') %> 

    <main>
        <section class="contenedor sobre-nuestros-productos" id="about">
            <h2 class="titulo">Ingredientes</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/pastas.jfif" alt="pastaimg" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>La mejor calidad</h3>
                    <p>Nuestros productos cuentan con la mayor calidad en el mercado, donde nuestras especias son
                        traidas desde las villas de la Toscana asi como los quesos, que son importados del mismo lugar,
                        nuestras pastas son exportadas exclusiamente desde Gragnano, Napoles, Italia. </p>
                    <h3><span>2</span>La mayor higiene</h3>
                    <p>Sabemos que a raiz de esta pandemia que ha azotado a nuestro mundo quieres cuidar de ti y de los
                        tuyos, por eso tanto nuestro equipo de meseros, encargados de barra, y cajeros, asi como chef,
                        cocineros y ayudantes de cocina, siguen la mayor higiene posible al momento de preparar o
                        entregar tus alimentos. </p>
                </div>
            </div>
        </section>
        <h2 class="titulo">Menu</h2>
        <section class="menu">
            <div class="comida">
                <img src="img/bolognesa.jpg" alt="">
                <h4>Bolognesa</h4>
                <p>Deliciosa salsa marinara a base de las mejores especias, con carne, queso y mantequilla, hecho con la
                    pasta de su eleccion</p>
                <p>$129.99MXN</p>
                <button>Anadir al Carrito</button>
            </div>
            <div class="comida">
                <img src="img/lasagna.jpg" alt="">
                <h4>Lasagna</h4>
                <p>Hojas de pasta apiladas en salsa bolognesa y queso mozarella, dando a luz asi a la famosa lassagna,
                    con el toque especial de la casa</p>
                <p>$119.99MXN</p>
                <button>Anadir al Carrito</button>
            </div>
            <div class="comida">
                <img src="img/alfredo.jpg" alt="">
                <h4>Alfredo</h4>
                <p>La famosa salsa Alfredo, hecha base de mantequilla, ajo, especias y queso mozarella, hecho con la
                    pasta de su eleccion</p>
                <p>$109.99MXN</p>
                <button>Anadir al Carrito</button>
            </div>
            <div class="comida">
                <img src="img/marinara.jpg" alt="">
                <h4>Marinara</h4>
                <p>La famosa salsa de tomate, amada alrededor de todo el mundo, tipica de pizzas, pastas, etc. hecho con
                    la pasta de su eleccion</p>
                <p>$99.99MXN</p>
                <button>Anadir al Carrito</button>
            </div>
            <div class="comida">
                <img src="img/pesto.jpg" alt="">
                <h4>Pesto</h4>
                <p>La salsa con mas sabor y personalidad, hecho a base de hojas de albahaca, aceite de oliva y ajo,
                    hecho con la pasta de su eleccion</p>
                <p>$109.99MXN</p>
                <button>Anadir al Carrito</button>
            </div>
            <div class="comida">
                <img src="img/alle.jpg" alt="">
                <h4>Alle Vongole</h4>
                <p>Nuestra receta mas extravagante y llena de sabor, hecho a base de salsa carbonara, vino blanco y
                    almejas, hecho con la pasta de su eleccion</p>
                <p>$199.99MXN</p>
                <button>Anadir al Carrito</button>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %> 
</body>
<script src="js/home.js"></script>
</html>