<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/stylecarrito.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/stylehome.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Tu carrito</title>

</head>

<body>

    <header>
        <nav class="nav-container">
            <div class="logo">
                <h4>Pastafari</h4>
            </div>
    
            <ul class="nav-links">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/carrito">Carrito</a>
                </li>
                <li>
                    <a href="/menu">Menu</a>
                </li>
                <li>
                    <a href="/registro">Login</a>
                </li>
                <li>
                    <a href="/registro">Registrate</a>
                </li>
            </ul>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <script src="/public/scripts/home.js"></script>
    </header>

    <main>
        <h2 class="centered-white">Tus productos:</h2>
        <article class="container-main-top">
            <div class="fotos"><img src="/img/spaguetti_carbonara.jpg" alt="Spaguetti Carbonara" class="borded"></div>
            <div class="descripciones">Spaguetti Carbonara servido con hongos salteados.</div>
            <div class="contenedor-boton">
                <input class="cart-quantity-input" type="number" value="1">
            </div>
            <div class="precioxproducto">x $51.00</div>
            <button class="botonE" type="button" value="borrar">Eliminar del carrito</button>
        </article>

        <article class="container-main-top">
            <div class="fotos"><img src="/img/fettuccine_alfredo.jpg" alt="Fettucine Alfredo" class="borded"></div>
            <div class="descripciones">Clásico fettuccine a la Alfredo con queso.</div>
            <div class="contenedor-boton">
                <input class="cart-quantity-input" type="number" value="1">
                <!--<button type="button" class="boton_cantidadP">Boton</button> -->
            </div>
            <div class="precioxproducto">x $51.00</div>
            <button class="botonE" type="button" value="borrar">Eliminar del carrito</button>
        </article>

        <article class="container-main-bottom">
            <div class="container_logo"><img src="/img/Pastafari-logo sin fondo.png" alt="Logo"></div>
            <div class="container_end">
                <div class="subTotal">
                    <div class="item-sub">SUBTOTAL</div>
                </div>
                <div class="buttons_cart_out">
                    <button type="button" class="boton_RP" onclick="window.location.href = '/menu';">
                        Volver a productos
                    </button>
                    <button type="button" class="boton_RP">Pagar</button>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <div class="footer-logo-location">
            <h2>Pastafari</h2>
            <h3>Romero de Terrenos #1153</h3>
            <h4>Narvarte, 03038</h4>
            <h4>CDMX</h4>
        </div>
        <div class="footer-links">
            <p class="links">Links</p>
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Productos</a></li>
            </ul>
        </div>
        <div class="footer-legal">
            <p class="legal">Legal</p>
            <ul>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Promociones</a></li>
            </ul>
        </div>
        <div class="footer-contacto">
            <p class="contacto">Contacto</p>
            <ul>
                <span>Dejanos tu email para mas informacion sobre nuevos productos y promociones.</span>
                <div class="input-container-email">
                    <input type="email" value="Direccion Email"></input>
                    <button type="submit"> Hecho!</button>
                </div>
            </ul>
        </div>

    </footer>
    <script src="scripts/home.js"></script>
</body>

</html>