<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/stylehome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Pastafari</title>

</head>

<body>
    <header>

        <nav class="nav-container">
            <div class="logo">
                <h4>Pastafari</h4>
            </div>

            <ul class="nav-links">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/carrito">Carrito</a>
                </li>
                <li>
                    <a href="/menu">Menu</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/registro">Regístrate</a>
                </li>
            </ul>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <div class="header-main-container">
            <div class="header-main-text">
                <div class="top-text">
                    Pasta Italiana Auntentica A Un Click
                </div>
                <div class="bottom-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint veritatis et, corrupti animi optio
                    aperiam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, nihil? Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Alias tempora ab vel tempore minus, quasi, harum quam
                    ad unde minima obcaecati qui nisi fugiat deleniti.
                </div>
                <a href="/producto" class="saber-mas">Saber mas <i class="fas fa-arrow-circle-down"></i></a>
            </div>
            <div class="login-box-container">
                <form class="login">
                    <p class="title">Accede a tu cuenta</p>
                    <input type="text" placeholder="Usuario" autofocus />
                    <i class="fa fa-user"></i>
                    <input type="password" placeholder="Contrasena" />
                    <i class="fa fa-key"></i>
                    <a href="#">Se te olvido la contrasena?</a>
                    <button>
                        <span class="state">Log in</span>
                    </button>
                </form>
            </div>

        </div>

        </div>
        <div class="productos-container">
            <h2 class="arriba">Lo mas vendido</h2>
            <nav class="productos-item">
                <div class="articulo">
                    <img src="img/pasta_example.jpg" height="270px" width="270px" alt="example_pasta" />
                    <div class="textodentro">
                        <div class="estrellas">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h4>Spaghetti Aglio</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, numquam.</p>
                        <p class="ver-mas"> Ver Mas </p>
                    </div>
                </div>

                <div class="articulo">
                    <img src="img/pasta_example.jpg" height="270px" width="270px" alt="example_pasta" />
                    <div class="textodentro">
                        <div class="estrellas">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>Penne rigate all’Amatriciana</h4>
                        <p>Lorem ipsum, dolor s amet consectetur adipisicing elit. Soluta, numquam.</p>
                        <p class="ver-mas"> Ver Mas </p>
                    </div>
                </div>

                <div class="articulo">
                    <img src="img/pasta_example.jpg" height="270px" width="270px" alt="example_pasta" />
                    <div class="textodentro">
                        <div class="estrellas">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h4>Fusilli alla Norma</h4>
                        <p>Lorem ipsum, dolor sit amet conasectetur adipisicing elit. Soluta, numquam.</p>
                        <p class="ver-mas"> Ver Mas </p>
                    </div>
                </div>

                <div class="articulo">
                    <img src="img/pasta_example.jpg" height="270px" width="270px" alt="example_pasta" />
                    <div class="textodentro">
                        <div class="estrellas">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h4>Lasagne al Ragú Bolognese</h4>
                        <p>Lorem ipsum, dolor sitamet consectetur adipisicing elit. Soluta, numquam.</p>
                        <p class="ver-mas"> Ver Mas </p>
                    </div>
                </div>
                <div class="articulo">
                    <img src="img/pasta_example.jpg" height="270px" width="270px" alt="example_pasta" />
                    <div class="textodentro">
                        <div class="estrellas">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h4>Fusilli alla Norma</h4>
                        <p>Lorem ipsum, dolor sit amet conasectetur adipisicing elit. Soluta, numquam.</p>
                        <p class="ver-mas"> Ver Mas </p>
                    </div>
                </div>
                <div class="articulo">
                    <img src="img/pasta_example.jpg" height="270px" width="270px" alt="example_pasta" />
                    <div class="textodentro">
                        <div class="estrellas">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <h4>Fusilli alla Norma</h4>
                        <p>Lorem ipsum, dolor sit amet conasectetur adipisicing elit. Soluta, numquam.</p>
                        <p class="ver-mas"> Ver Mas </p>
                    </div>
                </div>
            </nav>
        </div>



        <!-- Carousel test-->
        <div class="carousel-container">
            <div class="carousel-text">
                <h2>Favoritos del Mes</h2>
            </div>

            <div class="carousel">
                <div class="carousel__item carousel__item--visible">
                    <img src="img/1.jpg" />
                </div>
                <div class="carousel__item">
                    <img src="img/2.jpg" />
                </div>
                <div class="carousel__item">
                    <img src="img/3.jpg" />
                </div>

                <div class="carousel__actions">
                    <button id="carousel__button--prev" aria-label="Previous slide">
                        << /button>
                            <button id="carousel__button--next" aria-label="Next slide">></button>
                </div>
            </div>
        </div>


        <!-- Carousel test-->



    </header>

    <main>
        <div class="main-container">
            <div class="content-top">
                <h1 class="sobre-nosotros">
                    Sobre Nosotros
                </h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid natus ut tempore sunt quasi
                    blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, nostrum? Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Cupiditate tenetur nobis delectus adipisci sunt, unde
                    assumenda? Numquam nobis odio repudiandae neque consequatur optio distinctio. Error dignissimos eos
                    quae dicta magnam, iusto accusantium praesentium sed?</p>
            </div>
            <div class="content-bottom-container">
                <div class="first-content">
                    <i class="fas fa-utensils"></i>
                    <h2>Selecciona tu Platillo</h2>
                    <p>plicabo quibusdam asperiores tempora aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Unde.</p>
                    <div class="arrow-on-content"><i class="fas fa-arrow-right"></i></div>


                </div>
                <div class="second-content">
                    <i class="fas fa-money-check-alt"></i>
                    <h2>Realiza tu Pago</h2>
                    <p>commodi totam iriores tempora aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fugit!</p>
                    <div class="arrow-on-content"><i class="fas fa-arrow-right"></i></div>
                </div>
                <div class="third-content">
                    <i class="fas fa-home"></i>
                    <h2>Recibe en tu Domicilio</h2>
                    <p>abo quibusdam asperiores tempora aliquam! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Nobis!</p>
                    <div class="arrow-on-content"><i class="fas fa-arrow-right"></i></div>
                </div>
            </div>
        </div>

    </main>

    <div class="main-container-bottom">
        <div class="main-container-bottom-items">
            <h1>Empieza aqui</h1>
            <p>Si todavia sigues indeciso, no te preocupes, dale click al boton para ver todas nuestras opciones que
                tenemos para ti. Estamos seguros de que te van a encantar</p>
            <button>
                <span class="button-empieza">Ir al Menu</span>
            </button>
            <p class="garantia-texto-abajo">Si la entrega de tu pedido sobrepasa los 45 minutos la cuenta va por nuestra
                parte.</p>
        </div>

    </div>

    <%- include('./partials/footer') %>
</body>

</html>