<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/stylehome.css">
    <link rel="stylesheet" href="./css/styleregistro.css">
    <title>Registration Form</title>
</head>
<body>
    <nav class="nav-container">
        <div class="logo">
            <h4>Pastafari</h4>
        </div>

        <ul class="nav-links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/carrito">Carrito</a>
            </li>
            <li>
                <a href="/menu">Menu</a>
            </li>
            <li>
                <a href="/registro">Login</a>
            </li>
            <li>
                <a href="/registro">Regístrate</a>
            </li>
        </ul>
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
    </nav>


    <div class="main-container-registro">
        <form action="">
            <div class="container-register">
                <h1>Registrate</h1>
                <p>Por favor llena estos datos para crear una cuenta</p>
    
                <label for="usr">Nombre de usuario</label>
                <input type="text" name="username" placeholder="Enter Username" required>
                <label for="email">Email</label>
                <input type="text" placeholder="Enter Email" name="email" required>
    
                <label for="psw">Password</label>
                <input type="password" placeholder="Enter Password" name="pws" required>
                <label for="email">Telefono</label>
                <input type="phone" name="phone" placeholder="0123456789" required>
                <p> Al crear tu cuenta aceptas nuestros <a href="#">Terminos y condiciones & Privacidad</a></p>
    
                <button type="submit" class="btn">Registrate</button>
            </div> 
        </form>
        <form action="">
            <div class="container-login">
                <h1>Accede a tu cuenta</h1>
                <p>Por favor llena estos datos para acceder</p>
    
                <label for="usr">Nombre de usuario</label>
                <input type="text" name="username" placeholder="Enter Username" required>
    
                <label for="psw">Password</label>
                <input type="password" placeholder="Enter Password" name="pws" required>
    
                <button type="submit" class="btn">Accede</button>
            </div> 
        </form>
    </div>
    <footer>
        <div class="footer-logo-location">
            <h2>Pastafari</h2>
            <h3>Romero de Terrenos #1153</h3>
            <h4>Narvarte, 03038</h4>
            <h4>CDMX</h4>
        </div>
        <div class="footer-links">
            <p class="links">Links</p>
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Productos</a></li>
            </ul>
        </div>
        <div class="footer-legal">
            <p class="legal">Legal</p>
            <ul>
                <li><a href="#">Terminos y condiciones</a></li>
                <li><a href="#">Promociones</a></li>
            </ul>
        </div>
        <div class="footer-contacto">
            <p class="contacto">Contacto</p>
            <ul>
                <span>Dejanos tu email para mas informacion sobre nuevos productos y promociones.</span>
                <div class="input-container-email">
                    <input type="email" value="Direccion Email"></input>
                    <button type="submit"> Hecho!</button>
                </div>
            </ul>
        </div>
        
        
    </footer>
    <script src="scripts/home.js"></script>    
</body>
</html>