<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/stylehome.css">
    <link rel="stylesheet" href="./css/styleregistro.css">
    <title>Registration Form</title>
</head>
<body>
    <%- include('./partials/header') %> 


    <div class="main-container-registro">
        <form action="">
            <div class="container-register">
                <h1>Registrate</h1>
                <p>Por favor llena estos datos para crear una cuenta</p>
    
                <label for="usr">Nombre de usuario</label>
                <input type="text" name="username" placeholder="Enter Username" required>
                <label for="email">Email</label>
                <input type="text" placeholder="Enter Email" name="email" required>
    
                <label for="psw">Password</label>
                <input type="password" placeholder="Enter Password" name="pws" required>
                <label for="email">Telefono</label>
                <input type="phone" name="phone" placeholder="0123456789" required>
                <p> Al crear tu cuenta aceptas nuestros <a href="#">Terminos y condiciones & Privacidad</a></p>
    
                <button type="submit" class="btn">Registrate</button>
            </div> 
        </form>
    </div>
    
    <%- include('./partials/footer') %>   
</body>
</html>