:root{
    --main-color:#0c2733;
    --black:#9FB8AD;
    --bg:#0b4f6c;
    --mainFont: #000000;
    --border:.1rem solid rgba(18, 53, 10, 0.39);
    --alter: #0c2733;
    --button: #e65319;
    --alterHover: #9b3f1b;

    }


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{ 
    padding-top: 80px;
    max-width: 80%;
    margin: 0 auto;
}
img{
    width: 100%;
    max-height: 600px;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item img {
    height: 550;
    width: 403;
}

.img-item{
    margin: 0.3rem;
    
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 5em;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    color: var(--mainFont);
    margin: 2rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: var(--mainFont);
}

.product-rating{
    width: 80%;
    margin-top: 2rem;
    font-size: 4rem ;
    color: rgb(211, 144, 0);
}
.product-rating span{
    font-weight: 600;
    font-size: 4rem;
    color: #252525;
}

.product-price{
    margin: 1rem 0;
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: var(--button);
    text-decoration: line-through;
}
.new-price span{
    color: var(--alter);
}
.product-detail h2{
    text-transform: capitalize;
    font-size: 4em;
    color: var(--mainFont);
    padding-bottom: 0.5rem;
    padding-top: 3rem;
}
.product-detail p{
    font-size: 2.5rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
    list-style: none;
    font-size: 3rem;
    margin-top: 2rem;
}

.purchase-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{

    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;

}
.purchase-info .btn{
    background: var(--button);
    position: relative;
    bottom:5px;
}
.purchase-info .btn a{
    color: #ffffff;
}
.purchase-info input{
    width: 60px;
    border: black 2px solid;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}




@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}