:root{
  --main-color:#0c2733;
  --black:#9FB8AD;
  --bg:#0b4f6c;
  --mainFont: #000000;
  --border:.1rem solid rgba(18, 53, 10, 0.39);
  --alter: #0c2733;
  --button: #e65319;
  --alterHover: #9b3f1b;

  }

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/backgTest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body .main-container-registro form .container-registro input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
  font-family: roboto, arial;
  color: black;

}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="phone"]:focus,
select:focus {
  background-color: #ddd;
  outline: none;
}


.main-container-registro {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  padding: 5%;
  margin-top: 19vh;
  margin-bottom: 17vh;
}

.container-registro {
  padding: 30px;
  width: 100%;
  border-radius: 10px;
  background: black;
  -webkit-box-shadow: -9px 8px 31px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 8px 31px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 8px 31px -4px rgba(0, 0, 0, 0.75);
}

.container-registro h1 {
  text-align: center;
  font-size: 3rem;
}

.container-registro p {
  text-align: center;
}

.container-registro p , .container-registro label  {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
}



.container-registro .container-buttons {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.container-registro .container-buttons .btn-existingAccount{
  background-color: black;
  color: white;
  padding-top: 8px;
}
.container-registro .container-buttons .btn-existingAccount:hover {
  color: var(--button);
}

.container-registro > * {
  color: white;
}



@media screen and (min-width: 840px) {
  .container-registro {
    width: 660px;
  }
}
