
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*--Aquí comienza el body*/

img {
    width: 100%;
    height: 100%;
}

img.borded {
    box-shadow: 0px 0px 10px rgb(100,100,100); 
}

body {
    background-color: rgb(244, 237, 249);
    background-image: url('../img/backg.png');
    background-size: cover;
    min-width: 200px;
}
main {
    
    background: linear-gradient(90deg, rgba(137,208,29,0.60) 32%, rgba(23,112,0,0.80) 68%);
    padding: 1.5rem 7%;
}

.centered-white {
    color: rgb(244, 237, 249);
    text-shadow: 2px 2px 0px black;
    text-align: center;
    font-size: 26px;
    margin-top: 53px;
    font-family: 'Pacifico', cursive;
}

.container-main-top {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin: 2%;
}

.container-main-bottom {
    display: flex;
    border-top: solid 1px black;
    flex-wrap: wrap;
}

.fotos {
    flex: 1;
    margin: 2%;
}

.descripciones {
    display: none;
    flex: 1;
    text-align: center;
    margin: 2%;
    font-style: italic;
}

/*Esto contienede los botones de cantidades*/
.contenedor-boton {
    display:flex;
    flex: 1;
    justify-content: flex-end;
}

.cart-quantity-input {
    width: 40px;
    padding: 0px;
    margin-bottom: 0px;
    color: inherit;
}
.precioxproducto {
    display: flex;
    flex: 1;
}

.botonE {
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    font-size: 100%;
    max-width: 25%;
    min-width: 26px;
    padding: 2.5px;
    justify-self: flex-start;
    transition: all 900ms;
}

button.botonE:hover {
    border: rgb(255,9,15) solid 2px;
    color: rgb(255,9,15);
}

/*Estoss son los botones para regresar o proceder*/
.boton_RP {
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    font-size: 100%;
    max-width: 60%;
    min-width: 26px;
    padding: 2.5px;
    transition: all 900ms;
}

button.boton_RP {
    margin: 1px;
}

button.boton_RP:hover {
    background-color: rgba(219,125,29, 0.8);
}

.container_logo {
    display: flex;
    width: 50%;
}

.container_end {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subTotal {
    display: flex;
    flex: .2;
    align-items: center;
    font-weight: bold;
    margin: 2%;
}

div.subTotal {
    font-size: 24px;
}

.item-sub {
    background-color: blanchedalmond;
}

.buttons_cart_out {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex: 1;
    width: 100%;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

@media (min-width: 669px) {
    .burger {
        display: none;
    }

    li a {
        display: flex;
    }

    .nav-links {
        width: 60%;
    }

    .descripciones {
        display: flex;
    }

    .precioxproducto {
        display: flex;
        flex: .50;
    }

    footer {
        flex-direction: row;
      }
}

