
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

img.borded {
    box-shadow: 0px 0px 10px rgb(100,100,100); 
}

h2, h4 {
    font-family: 'Pacifico', cursive;
}

.logo h4 {
    font-family: 'Pacifico';
    font-size: 28px;
}

.centered-white {
    color: rgb(244, 237, 249);
    text-shadow: 2px 2px 0px black;
    text-align: center;
    font-size: 26px;
}



/*--Aqui empieza lo del header--*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: linear-gradient(to bottom, #ccd1d4, #f0f1f1);
    font-family: 'Roboto',sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: rgb(27, 27, 27);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.7s ease;
}

.nav-links a:hover{
    color: rgba(247, 99, 46, 0.973);
  }

.nav-links li {
    list-style: none;
}

.nav-container {
    position: relative;
    width: 100%;
    top: 0px;
    border-bottom: rgba(0, 0, 0, 0.397) solid 4px;
    z-index: 1;
  }

li a {
    display: none;
}


/*--Aquí comienza el body*/
body {
    background-color: rgb(244, 237, 249);
    min-width: 200px;
}
main {
    background: rgb(137,208,29);
    background: linear-gradient(90deg, rgba(137,208,29,1) 32%, rgba(23,112,0,0.90238093528427) 68%);
}

.container-main-top {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    align-items: center;
    margin: 2%;
}

.container-main-bottom {
    display: flex;
    border-top: solid 1px black;
    flex-wrap: wrap;
}

.fotos {
    flex: 1;
    margin: 2%;
}

.descripciones {
    display: none;
    flex: 1;
    text-align: center;
    margin: 2%;
    font-style: italic;
}

/*Esto contienede los botones de cantidades*/
.contenedor-boton {
    display:flex;
    flex: 1;
    justify-content: flex-end;
}

.cart-quantity-input {
    width: 40px;
}
.precioxproducto {
    display: flex;
    flex: 1;
}

.botonE {
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    font-size: 100%;
    max-width: 25%;
    min-width: 26px;
    padding: 2.5px;
    justify-self: flex-start;
}

/*Estoss son los botones para regresar o proceder*/
.boton_RP {
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    font-size: 100%;
    max-width: 60%;
    min-width: 26px;
    padding: 2.5px;

}

button.boton_RP {
    margin: 1px;
}



.container_logo {
    display: flex;
    width: 50%;
}

.container_end {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subTotal {
    display: flex;
    flex: .2;
    align-items: center;
    font-weight: bold;
    margin: 2%;
}

div.subTotal {
    font-size: 24px;
}

.item-sub {
    background-color: blanchedalmond;
}

.buttons_cart_out {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    flex: 1;
    width: 100%;

}

/*G*/

footer {
    background: linear-gradient(to bottom, #dfe1e2, #f4f7f7);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
  }
  
  footer li {
    list-style: none;
    padding-top: 10px;
  }
  
  footer li a {
    text-decoration: none;
    color: black;
    
    
  }
  
  footer p {
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: rgba(182, 181, 181,1.2) solid 1px;
    
  }
  
  .footer-links {
    display: none;
  }
  
  .footer-logo-location h2 {
    font-family:'Pacifico';
    margin-bottom: 10px;
  }

  footer input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    color: #ccc;
}
/*G*/  

footer section {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.left-list {
    display: flex;
    flex-direction: column;
    flex: 1;

}


.itemsL {
    padding: 4px;
    flex-shrink: 1;
    text-align: start;
}

.itemsR {
    padding: 4px;
    flex-shrink: 1;
    text-align: center;
}


@media (min-width: 361px) {
    
}



@media (min-width: 669px) {
    .burger {
        display: none;
    }

    li a {
        display: flex;
    }

    .nav-links {
        width: 60%;
    }

    .descripciones {
        display: flex;
    }

    .precioxproducto {
        display: flex;
        flex: .50;
    }

    footer {
        flex-direction: row;
      }
}

