* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(194, 194, 194);
    font-family: 'Roboto',sans-serif;
}

.logo{
    color: rgb(27, 27, 27);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: rgb(27, 27, 27);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
}

.burger {
    padding: 5px;
    font-size: 1em;
    color: rgb(27, 27, 27);
    display: none;
}

@media  screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media  screen and (max-width: 768px) {

    body {
        max-width: 768px;
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(194, 194, 194);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform:  translateX(100%);
        transition: transform 0.5s ease-in;
        
    }

    .nav-links li {
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
    
}

.nav-activada {
    transform: translateX(0%);
  
}

.nav-activada li {
    font-weight: bold;
    font-weight: 400;
    padding: 30px;
    width: 80%;
    text-align: center;
}

@keyframes navLinkDesaparece {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

