* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: linear-gradient(to bottom, #ccd1d4, #f0f1f1);
    font-family:'Roboto', sans-serif;
}

.logo h4{
  font-family: 'Pacifico';
  font-size: 28px;
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}

.nav-links a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
  
    
}

.burger {
    padding: 5px;
    font-size: 1em;
    color: rgb(27, 27, 27);
    display: none;
}

@media  screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }

}

@media  screen and (max-width: 768px) {

    body {
        max-width: 768px;
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 70vh;
        top: 8vh;
        background: linear-gradient(to bottom, #c6c6c7, #f0f1f1);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform:  translateX(100%);
        transition: transform 0.5s ease-in;        
    }

    .nav-links li {
        opacity: 0;
        border-bottom: solid 1px rgba(128, 128, 128,0.9);
        
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-activada {
    transform: translateX(0%);
  
}

.nav-activada li {
    font-weight: bold;
    font-weight: 400;
    padding: 30px;
    width: 80%;
    text-align: center;
}

@keyframes navLinkDesaparece {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.header-main-container {
    padding: 50px;
    background-image: url('../img/backg.png');
    background-color: #cccccc;
  background-position: center;
   
}

.header-main-text {
    
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: space-around;
}


.top-text {
    color: white;
    font-weight: bold;
    font-size: 43px;
}

.bottom-text {
    color: white;
    font-size: 24px;
}

.saber-mas{
    font-size: 28px;
    font-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-box-container {
    display: none;    
}

.login {
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 20px 20px;  
    background: #ffffff;
    width: 350px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    color: #ccc;
}



.login a {
    text-decoration: none;
    color: #444;
}

.title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

@media  (min-width: 768px) {
    .login-box-container { 
        display: block;
        display: flex;
        align-items: center;
        border-left: 1px grey solid;
        padding-left: 40px;
        justify-content: center;
    
    }
    .header-main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 15px;
       
    }

    footer .footer-links {
      display: block;
    }
    
}

footer {
  background: linear-gradient(to bottom, #dfe1e2, #f4f7f7);
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  
}

footer li {
  list-style: none;
  padding-top: 10px;
}

footer li a {
  text-decoration: none;
  color: black;
  
  
}

footer p {
  padding-bottom: 7px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: rgba(182, 181, 181,1.2) solid 1px;
  
}

.footer-links {
  display: none;
}

.footer-logo-location h2 {
  font-family:'Pacifico';
}
  
