<section class="footer">
    <div class="links">
        <a href="/">home</a>
        <a href="/aboutUs">acerca de</a>
        <a href="/producto/menu">menu</a>
        <a href="#">Contacto</a>
    </div>

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
    </div>
</section>
