<header class="header">
  <a href="/" class="logo">
    <p>Pastafari</p>
  </a>

  <nav class="navbar">
    <a href="/">home</a>
    <i class="fas fa-home"></i>
    <a href="/aboutUs">Nosotros</a>
    <i class="fas fa-question-circle"></i>
    <a href="/producto/menu">Menu</a>
    <i class="fas fa-th-list"></i>
    <a href="#contact">Contacto</a>
    <i class="fas fa-address-book"></i>
    <% if( user != undefined) {%> <% if (user.username == 'MAR') {%>
    <a href="/producto/editar">Editar Productos</a>
    <i class="fas fa-address-book"></i>
    <% } %> <% } %>
  </nav>

  <div class="icons">
    <button class="fas fa-search-plus" id="search-btn"></button>
    <% if (user != undefined) {%>
    <button class="fas fa-shopping-cart" id="cart-btn"></button>
    <% } %> <% if (user == undefined) {%>
    <button
      class="fas fa-user-circle"
      id="user-btn"
      onclick="openLoginForm()"
    ></button>

    <% } %> <% if (user != undefined) {%>
      <div class="dropdown">
        <!--Dropdown that will be user navmenu-->
        <button onclick="userMenu()" class="dropbtn">
          <i class="fas fas fa-user-circle"></i> <span></span><%=user.username %>
        </button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    <% } %>
    
   

    <button class="fas fa-bars" id="menu-btn"></button>

    <form action="/search" method="GET"></form>
  </div>

  <div class="popup">
    <div class="popup-close" onclick="closeLoginForm()">×</div>

    <form class="form" action="/loginExisting" method="POST">
      <div class="avatar">
        <img src="img/pic-1.png" alt="" />
      </div>
      <div class="header">Ingresa a tu Cuenta</div>
      <div class="element">
        <label for="username" class="username-label">Usuario</label>
        <input type="username" placeholder="username" name="username" />
      </div>
      <div class="element">
        <label for="password">Contrasena</label>
        <input type="password" name="password" placeholder="password" />
      </div>
      <div class="element">
      <label for="">Recordarme</label>
      <input type="checkbox" name="recordarme">
    </div>
      <div class="element">
        <button type="submit">Login</button>
      </div>
      <div class="no-accout-link">
        <a href="/createAccount">No tienes cuenta, da click aqui</a>
      </div>
    </form>
  </div>

  <div class="search-form">
    <form action="/search" method="GET">
      <input type="text" name="keywords" placeholder="busca aqui..." />
    </form>
  </div>

  <div class="cart-items-container">
    <div class="cart-item">
      <img src="img/1.jpg" alt="" />
      <div class="content">
        <h3>Spaghetti alla Carbonara</h3>
        <div class="price">$56.00</div>
      </div>
      <div class="quantity">
        <span class="far fa-minus-square"></span>
        <p>3</p>
        <span class="far fa-plus-square"></span>
      </div>
      <span class="fas fa-times"></span>
    </div>
    <div class="cart-item">
      <img src="img/2.jpg" alt="" />
      <div class="content">
        <h3>Fusilli alla Norma</h3>
        <div class="price">$59.00</div>
      </div>
      <div class="quantity">
        <span class="far fa-minus-square"></span>
        <p>3</p>
        <span class="far fa-plus-square"></span>
      </div>
      <span class="fas fa-times"></span>
    </div>
    <div class="cart-item">
      <img src="img/3.jpg" alt="" />
      <div class="content">
        <h3>Penne rigate all'Amatriciana</h3>
        <div class="price">$92.00</div>
      </div>
      <div class="quantity">
        <span class="far fa-minus-square"></span>
        <p>3</p>
        <span class="far fa-plus-square"></span>
      </div>
      <span class="fas fa-times"></span>
    </div>
    <div class="cart-item">
      <img src="img/1.jpg" alt="" />
      <div class="content">
        <h3>Spaghetti Aglio</h3>
        <div class="price">$40.00</div>
      </div>
      <div class="quantity">
        <span class="far fa-minus-square"></span>
        <p>3</p>
        <span class="far fa-plus-square"></span>
      </div>
      <span class="fas fa-times"></span>
    </div>
    <a href="#" class="btn">Limpiar Carrito</a>
    <a href="/carrito" class="btn">Continuar</a>
  </div>
</header>
