/* hero section styles */
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5rem;
}
.hero__left__wrapper {
  max-width: 350px;
}
.hero__imgWrapper {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}
.hero__heading {
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.4em;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);
}
.hero__info {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: var(--black-2);
}
.button__wrapper {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero__wrapper {
    flex-direction: row;
    gap: 0;
  }
  .hero__left {
    flex: 3;
  }
  .hero__right {
    flex: 4;
  }
  .hero__heading {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    text-align: left;
  }

  .hero__info {
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1.8rem;
  }

  .button__wrapper {
    text-align: left;
  }
  .hero__imgWrapper {
    max-width: none;
    width: 90%;
  }
}
@media only screen and (max-width: 900px) {
  .hero__left,
  .hero__right {
    flex: 1;
  }
}

/* nuestros especiales estilos*/
#ourSpecials {
  padding-top: 10rem;
}
.ourSpecials__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.ourSpecials__left {
  display: flex;
  gap: 1rem;
}
.ourSpecials__item {
  background-color: var(--lightGreen-1);
  padding: 1.2rem;
  padding-top: 5rem;
  border-radius: 12px;
  width: 45%;
  margin: 0 auto;
}
.ourSpecials__item__img {
  margin-top: calc(-50% - 2rem);
  margin-bottom: 2rem;
  border-radius: 12px;
  height: 150px;
  overflow: hidden;
}
.ourSpecials__item__img img {
  object-fit: cover;
}
.ourSpecials__item__title {
  font-size: 1.4rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}
.ourSpecials__item__price {
  color: var(--green-1);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.ourSpecials__item__text {
  font-size: 1.4rem;
  color: var(--black-2);
  font-weight: 500;
}
.ourSpecials__title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--black-1);
}
.ourSpecials__text {
  font-size: 1.4rem;
  color: var(--black-2);
  margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  #ourSpecials {
    padding-top: 15rem;
  }
  #ourSpecials .container {
    max-width: 900px;
  }
  .ourSpecials__wrapper {
    flex-direction: row;
  }
  .ourSpecials__right {
    flex: 2;
  }
  .ourSpecials__left {
    flex: 4;
    gap: 2rem;
  }
  .ourSpecials__item {
    padding: 2rem;
  }
  .ourSpecials__item__title {
    font-size: 2.4rem;
    line-height: 1.4em;
    margin-bottom: 1.5rem;
  }
  .ourSpecials__item__price {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .ourSpecials__item__text {
    font-size: 1.6rem;
  }
  .ourSpecials__title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
  }
  .ourSpecials__text {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 300px) {
  .ourSpecials__left {
    flex-wrap: wrap;
    gap: 10rem;
  }
  .ourSpecials__item {
    width: 100%;
  }
}
/* final de nuestros especiales estilos */
/* platillos del menu */
#dishGrid {
  padding-bottom: 0;
}
#dishGrid:last-of-type {
  padding-bottom: 10rem;
}

.dishGrid__title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 600;
  color: var(--black-1);
}
.dishGrid__wrapper {
  display: grid;
  /* grid-template-columns: repeat(autofit, minmax(140px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;
}
.dishGrid__item {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGreen-1);
  padding: 0.5rem;
  border-radius: 8px;
  gap: 0.5rem;
}
.dishGrid__item__img {
  flex: 4;
}
.dishGrid__item__info {
  flex: 5;
}
.dishGrid__item__img img {
  object-fit: cover;
  border-radius: 12px;
}
.dishGrid__item__title {
  font-size: 1.4rem;
  line-height: 1.3em;
  font-weight: 500;
  color: var(--black-1);
  margin-bottom: 0.5rem;
}
.dishGrid__item__price {
  font-size: 1.4rem;
  color: var(--green-1);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .dishGrid__title {
    font-size: 2.4rem;
  }
  .dishGrid__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
  }
  .dishGrid__item {
    flex-direction: row;
    padding: 1.5rem;
    border-radius: 12px;
    gap: 1rem;
  }
  .dishGrid__item__title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
  .dishGrid__item__price {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

/* platillos del menu final */

/* estilo de descuentos  */
.discount__wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 12px;
  background: var(--lightGreen-1) url(./images/discount-illustration.png)
    no-repeat bottom right / 100px;
}
.discount__images {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.discount__img1 {
  flex: 2;
}
.discount__images img {
  object-fit: cover;
  border-radius: 12px;
}
.discount__text {
  font-size: 1.4rem;
  font-weight: 900;
  color: var(--green-1);
  margin-bottom: 0.5rem;
}
.discount__title {
  font-size: 1.8rem;
  color: var(--black-1);
  font-weight: 600;
  margin-bottom: 1rem;
}
.discount__price {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.discount__newPrice {
  color: var(--green-1);
}
@media only screen and (min-width: 768px) {
  .discount__wrapper {
    flex-direction: row;
    gap: 4rem;
    padding: 2rem;
    align-items: center;
    background-size: 150px;
    margin: 0 auto;
  }
  .discount__images {
    flex: 5;
    margin-bottom: 0;
    gap: 2rem;
  }
  .discount__img1 {

    height: 350px;
  }
  .discount__info {
    flex: 3;
  }
  .discount__text {
    font-size: 2.4rem;
  }
  .discount__title {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
  }
  .discount__price {
    font-size: 2.4rem;
  }

}
@media only screen and (max-width: 1000px) {
  .discount__wrapper {
    gap: 2rem;
  }
  .discount__img3 {
    display: none;
  }
}
/* final de estilo de descuentos */
/* event media de video y foyo */
.eventsMedia__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

@media screen and (max-width:768px){
  .eventsMedia__wrapper {
    display: none;
   
  }
}


/* final de event media de video  */

/* comiendo de por que nosotros  */
.whyUs__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;
}
.whyUs__left {
	text-align: center;
}
.whyUs__title {
	font-family: Poppins;
	font-size: 1.8rem;
	color: var(--black-1);
	font-weight: 500;
	margin-bottom: 1rem;
}
.whyUs__text {
	font-size: 1.4rem;
}
.whyUs__right {
	text-align: center;
}
.whyUs__items__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.whyUs__item {
	background: var(--lightGreen-1);
	padding: 2rem;
	border-radius: 12px;
}
.whyUs__item__icon {
	max-width: 56px;
	margin: 0 auto;
	margin-bottom: 1rem;
  font-size: 3.2rem;
}
.whyUs__item__text {
	font-family: Poppins;
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--black-1);
}
@media only screen and (min-width: 768px) {
	.whyUs__wrapper {
		flex-direction: row;
		max-width: 900px;
		margin: 0 auto;
	}
	.whyUs__left {
		flex: 4;
		text-align: left;
	}
	.whyUs__right {
		flex: 3;
	}
	.whyUs__title {
		font-size: 3.6rem;
		margin-bottom: 2rem;
	}
	.whyUs__text {
		font-size: 1.8rem;
		line-height: 1.4em;
	}
	.whyUs__items__wrapper {
		gap: 1.5rem;
	}
	.whyUs__item {
		padding: 2rem;
	}
	.whyUs__item__icon {
		max-width: 65px;
		margin-bottom: 1.5rem;
	}
	.whyUs__item__text {
		font-size: 1.8rem;
	}
}


/* final de por que nosotros  */
/* testimonios comienzo  */

.testimonial__wrapper {
	max-width: 400px;
	margin: 0 auto;
}
.testimonial__title {
	font-size: 1.8rem;
	margin-bottom: 3rem;
	text-align: center;
	color: var(--black-1);
}
.testimonial__items__wrapper {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}
.testimonial__item {
	padding: 1rem;
	display: flex;
	gap: 1rem;
	background-color: var(--lightGreen-1);
	border-radius: 12px;
}
.testimonial__item__info {
	flex: 4;
}
.testimonial__item__img {
	flex: 2;
	border-radius: 12px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.testimonial__item__img img {
	object-fit: cover;
}
.testimonial__item__name {
	font-size: 1.4rem;
	font-family: poppins;
	margin-bottom: 1rem;
}

.testimonial__item__text {
	font-size: 1.4rem;
}
@media only screen and (min-width: 768px) {
	.testimonial__wrapper {
		max-width: 900px;
	}
	.testimonial__title {
		font-size: 3.6rem;
		margin-bottom: 5rem;
	}
	.testimonial__items__wrapper {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
	.testimonial__item {
		padding: 2rem;
	}
	.testimonial__item__name {
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
	}
	.testimonial__item__text {
		font-size: 1.6rem;
		line-height: 1.4em;
	}
}
@media only screen and (max-width: 350px) {
	.testimonial__item {
		flex-direction: column;
	}
	.testimonial__item__img,
	.testimonial__item__info {
		flex: auto;
	}
}

/* final de testimonios */

/* comienzo de newsletter  */
.newsletter__wrapper {
	display: flex;
	flex-direction: column;
	background-color: var(--green-2);
	padding: 1.5rem;
	border-radius: 8px;
	gap: 2rem;
}
.newsletter__title {
	font-size: 1.8rem;
	color: var(--black-1);
	font-weight: 600;
	margin-bottom: 1.3rem;
}
.newsletter__text {
	font-size: 1.4rem;
	color: var(--black-2);
	font-weight: 500;
}
.newsletter__form form {
	position: relative;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
}
.newsletter__form label {
	width: 100%;
}
.newsletter__form input {
	width: 100%;
	font-size: 1.4rem;
	padding: 1.5rem 1rem;
	border: none;
}
.newsletter__form input::placeholder {
	color: rgb(168, 166, 166);
}
.newsletter__form button[type='submit'] {
	background-color: var(--green-1);
	color: var(--white-1);
	border: none;
	font-size: 1.4rem;
	padding: 0 2rem;
	height: 100%;
	/* width: 100%; */
	position: absolute;
	right: 0;
	top: 0;
}
@media only screen and (min-width: 768px) {
	.newsletter__wrapper {
		flex-direction: row;
		padding: 5rem;
		align-items: center;
	}
	.newsletter__info,
	.newsletter__form {
		flex: 1;
	}
	.newsletter__title {
		font-size: 3.6rem;
		margin-bottom: 2rem;
	}
	.newsletter__text {
		font-size: 1.8rem;
		max-width: 400px;
	}
	.newsletter__form {
		max-width: 450px;
		border-radius: 12px;
	}
	.newsletter__form input {
		font-size: 1.8rem;
		padding: 2rem;
	}
	.newsletter__form button[type='submit'] {
		font-size: 1.8rem;
		padding: 0 3rem;
	}
}
/* final de newsletter */
