<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') %>

    <title>AboutUs</title>
  </head>

  <body>
    <%- include('../partials/header') %>

    <main class="largerMain">
      <section class="menu" id="menu">
        <h1 class="heading">Acerca de nosotros</h1>

        <div class="box-container">
          <div class="box">
            <h3>
              Pastafari.Co nace como requerimento del programa Full Stack Web
              Developer de Digital House y la visión de sus, en ese entonces,
              cuatro integrantes, el proyecto ha ido creciendo desde los
              wireframe, pasando por su capa visual y llegando hasta hoy tener
              un CRUD casi completo.
              <br />
              <br />
              Está página está hecha con dedicación además de frustración y
              esperamos que sea del agrado de sus visitantes.
            </h3>
          </div>
        </div>
        <br />

        <div class="box-container">
          <div class="box">
            <img src="/img/pastafari.png" alt="imagen de developer" />
            <h3>Mario Mercado</h3>
            <h4>Developer</h4>
            <p class="developerDescription">
              Un polímata que está hartó del aspecto visual del proyecto xD
            </p>
          </div>
          <div class="box">
            <img src="/img/pastafari.png" alt="imagen de developer" />
            <h3>Gerardo Linares</h3>
            <h4>Developer</h4>
            <p class="developerDescription">
              Una descripción de nuestra persona
            </p>
          </div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer') %> 
    
    <!-- script zone-->
    <%- include('../partials/scripts') %>
    <!-- script zone-->
  </body>
</html>
