<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <!--<link rel="stylesheet" href="./css/styleregistro.css" />-->
    <title>Login Form</title>
  </head>
  <body class="register">
    <%- include('../partials/header') %>

    <div class="main-container-registro">
      <form action="/createaccount" method="POST" class="contenedor-formulario" enctype="multipart/form-data">
        <div class="container-registro">
          <h1>Crea tu nueva cuenta</h1>
          <p>Por favor llena estos datos para acceder</p>

          <label for="usr">Nombre Completo</label>
          <input
            type="text"
            name="name"
            id ="name"
            placeholder="Ingresa Nombre Completo"
            required
          />
          <label for="usr">Nombre de Usuario</label>
          <input
            type="text"
            name="username"
            id = "username"
            placeholder="Ingresa Nombre de Usuario"
            required
          />

          <label for="psw">Contraseña</label>
          <input
            type="password"
            placeholder="Ingresa la Contraseña"
            name="password"
            id = "password"
            required
          />

          <label for="start">Año de Nacimiento:</label>

          <input type="number" min="1900" max="2099" step="1" value="2016" name="fechaNacimiento" id="fechaNacimiento"/>


          <div class="container-buttons">
            <button type="submit" class="btn">Accede</button>
            <button onclick="openLoginForm()" class="btn-existingAccount"> Aqui si ya tienes cuenta</button>
          </div>
        
        </div>

      </form>

    </div>
    <%- include('../partials/footer') %>
  </body>

  <script src="js/home.js"></script>
</html>