<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/styleregistro.css" />
    <title>Todos los productos</title>

  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="main-container-registro">
      <h1> Aqui va el index</h1>

    </div>
    <%- include('../partials/footer') %>
  </body>

  <script src="js/home.js"></script>
</html>
