<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
   
    <title>Login Form</title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="main-container-registro">
      <form action="">
        <div class="container-registro">
          <h1>Crea tu nueva cuenta</h1>
          <p>Por favor llena estos datos para acceder</p>

          <label for="usr">Nombre de usuario</label>
          <input
            type="text"
            name="username"
            placeholder="Enter Username"
            required
          />

          <label for="psw">Password</label>
          <input
            type="password"
            placeholder="Enter Password"
            name="pws"
            required
          />

          <label for="psw">Repita la Password</label>
          <input
            type="password"
            placeholder="Repite la Password"
            name="pws"
            required
          />

          <label for="start">Fecha de Nacimiento:</label>

          <input
            type="date"
            id="start"
            name="fecha-nacimiento"
            value="2018-07-22"
            min="1900-01-01"
            max="2022-12-31"
          />

          <label for="ice-cream-choice">Donde te ubicas?</label>
          <input list="estados" id="estados-choice" name="estados" />

          <datalist id="estados">
            <option value="CDMX"></option>
            <option value="Monterrey"></option>
            <option value="Guerrero"></option>
            <option value="Morelos"></option>
            <option value="Puebla"></option>
          </datalist>

          <div class="container-buttons">
            <button type="submit" class="btn">Accede</button>
            <button onclick="openLoginForm()" class="btn-existingAccount"> Aqui si ya tienes cuenta</button>
          </div>
        
        </div>

      </form>

    </div>
    <%- include('../partials/footer') %>
  </body>

  <script src="js/home.js"></script>
</html>
